# docker-compose file for running paperless from the Docker Hub.
# This file contains everything paperless needs to run.
# Paperless supports amd64, arm and arm64 hardware.
#
# All compose files of paperless configure paperless in the following way:
#
# - Paperless is (re)started on system boot, if it was running before shutdown.
# - Docker volumes for storing data are managed by Docker.
# - Folders for importing and exporting files are created in the same directory
#   as this file and mounted to the correct folders inside the container.
# - Paperless listens on port 8000.
#
# In addition to that, this docker-compose file adds the following optional
# configurations:
#
# - Instead of SQLite (default), PostgreSQL is used as the database server.
# - Apache Tika and Gotenberg servers are started with paperless and paperless
#   is configured to use these services. These provide support for consuming
#   Office documents (Word, Excel, Power Point and their LibreOffice counter-
#   parts.
#
# To install and update paperless with this file, do the following:
#
# - Copy this file as 'docker-compose.yml' and the files 'docker-compose.env'
#   and '.env' into a folder.
# - Run 'docker-compose pull'.
# - Run 'docker-compose run --rm webserver createsuperuser' to create a user.
# - Run 'docker-compose up -d'.
#
# For more extensive installation and update instructions, refer to the
# documentation.

version: "3.4"
services:
  broker:
    image: redis:6.0
    restart: unless-stopped
    networks:
      - paperlessnet
  db:
    image: postgres:13
    restart: unless-stopped
    volumes:
      - /opt/mediadepot/apps/paperless/pgdata:/var/lib/postgresql/data
#      - ./pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: paperless
      POSTGRES_USER: paperless
      POSTGRES_PASSWORD: paperless
    networks:
      - paperlessnet

  webserver:
    image: jonaswinkler/paperless-ng:1.5.0
    restart: unless-stopped
    depends_on:
      - db
      - broker
      - gotenberg
      - tika
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000"]
      interval: 30s
      timeout: 10s
      retries: 5
    volumes:
      - /media/storage/documents/paperless/data:/usr/src/paperless/data
      - /media/storage/documents/paperless/media:/usr/src/paperless/media
      - /opt/mediadepot/apps/paperless/backup:/usr/src/paperless/export
      - /media/temp/blackhole/documents:/usr/src/paperless/consume
#      - ./data:/usr/src/paperless/data
#      - ./media:/usr/src/paperless/media
#      - ./export:/usr/src/paperless/export
#      - ./consume:/usr/src/paperless/consume
    environment:
      PAPERLESS_OCR_LANGUAGE: eng
      PAPERLESS_TIME_ZONE: America/Los_Angeles
      PAPERLESS_REDIS: redis://broker:6379
      PAPERLESS_DBHOST: db
      PAPERLESS_TIKA_ENABLED: 1
      PAPERLESS_TIKA_GOTENBERG_ENDPOINT: http://gotenberg:3000
      PAPERLESS_TIKA_ENDPOINT: http://tika:9998
      PAPERLESS_CONSUMER_POLLING: 30
      PAPERLESS_FILENAME_FORMAT: '{document_type}/{created_year}/{correspondent}/{title}'
      PAPERLESS_CONSUMER_RECURSIVE: 1
      USERMAP_UID: 15000
      USERMAP_GID: 15000
      PAPERLESS_ADMIN_USER: myuser
      PAPERLESS_ADMIN_PASSWORD: 'password'
      PAPERLESS_AUTO_LOGIN_USERNAME: myuser
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.paperless.loadbalancer.server.port=8000"
      - "traefik.http.routers.paperless.rule=Host(`paperless.${DEPOT_DOMAIN_NAME}`)"
      - 'traefik.http.routers.paperless.entrypoints=websecure'
      - 'traefik.http.routers.paperless.tls.certresolver=mydnschallenge'
    networks:
      - paperlessnet
      - traefik

  gotenberg:
    image: thecodingmachine/gotenberg:6
    restart: unless-stopped
    environment:
      DISABLE_GOOGLE_CHROME: 1
    networks:
      - paperlessnet

  tika:
    image: apache/tika
    restart: unless-stopped
    networks:
      - paperlessnet

networks:
  traefik:
    external: true
  paperlessnet:
